$color-primary-20: rgb(255, 255, 255, 0.2);
$color-primary-40: rgb(255, 255, 255, 0.4);
$color-primary-60: rgb(255, 255, 255, 0.6);
$color-primary-80: rgb(255, 255, 255, 0.8);
$color-primary-100: rgb(255, 255, 255, 1.0);

$color-secondary-5: rgb(0, 0, 0, 0.05);
$color-secondary-15: rgb(0, 0, 0, 0.15);
$color-secondary-40: rgb(0, 0, 0, 0.4);
$color-secondary-60: rgb(0, 0, 0, 0.6);
$color-secondary-80: rgb(0, 0, 0, 0.8);
$color-secondary-10: rgb(43, 43, 43, 1);

$color-black: rgb(0, 0, 0, 1);
$color-blue: rgb(44, 0, 250, 1);
$color-light-blue: rgb(81, 69, 250, 1);
$color-orange: rgb(240, 115, 32, 1);

